<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>UPDATE EMPLOYEE</h1>
    <form th:action="@{/updateEmployee}" method="post" th:object="${employee}">
        <div class="mb-3">
        <LABEL>Employee Id:</LABEL>
        <input th:field="*{employeeId}" readonly="readonly"/><br>
        </div>
        <div class="mb-3">
        <LABEL>Employee Name:</LABEL>
        <input type="text" th:field="*{employeeName}"/><br>
            <p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" style="color: red"></p>
        </div>
        <div class="mb-3">
        <LABEL>Address:</LABEL>
        <textarea type="text" th:field="*{address}"/><br>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red"></p>
        </div>
        <div class="mb-3">
        <LABEL>Date of Birth:</LABEL>
        <input th:field="*{dateOfBirth}" type="date"/><br>
            <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color: red"></p>
        </div>
        <div class="mb-3">
        <LABEL>Phone:</LABEL>
        <input type="text" th:field="*{phone}"/><br>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></p>
        </div>
        <button type="submit" class="btn btn-primary">EDIT</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>